body{margin:0px;}

page{
  display:flex;
  flex-direction:column;
  
    }


top{
  background-color:orange;
  height:50px;
  display:flex;
  
   }

toggle
   {
  width:50px;
  margin:5px;
  margin-left: 10px;
  border:solid 5px rgba(255,165,0,1);
  text-align:center;
   }

search
   {
  width:100%;
  margin:5px;
  border-bottom:solid 1px brown;
   }

map{
  border:solid 1px brown;
  height:510px;
   }

bottom{
  background-color:orange;
  height:50px;
  
  
      }
