body{margin:0px;}

page{
  display:flex;
  flex-direction:column;
  
    }


top{
  background-color:orange;
  height:50px;
  
   }

map{
  border:solid 1px brown;
  height:510px;
   }

bottom{
  background-color:orange;
  height:50px;
  
  
      }
